<html ng-app ng-init="valor1 = 'Douglas'; valor2 = 10; pessoa = {nome: 'Douglas D'}">
    <head>
        <title>Curso AngularJS</title>
        <meta charset="utf-8">
        <script src="js/angular/angular.min.js"></script>
    </head>
    <body>
        <h1 ng-bind="pessoa.nome"></h1>    

        <h1> Resultado: <texto ng-bind="valor1 + valor2"></texto></h1>
        <h1 ng-bind="valor1 + valor2"></h1>
        <h1>{{valor1}}</h1>

        <input type="text" ng-model="pessoa.nome"></input>

        <input type="number" ng-model="valor1"></input>
        <input type="number" ng-model="valor2"></input>
        
    </body>
</html>